#one{
    text-align: center;
    color: grey;
}

body{
    background-color: black;
}

img{
    border: 4px solid gold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Optional: Define a width for better control */
  width: 75%; 
}

.poster{
    margin-top: 90px;
    margin-left: 100px;
    color: whitesmoke;
}

#two{
    padding: 20px;
    text-align: center;
}


.poster {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}